<h1>
  TicTacToe
  <!-- <img height="100" src="../../assets/icons/tictac.jpg" alt="tictac image" /> -->
</h1>

<div class="winner" *ngIf="winner">
  <h2>
    Well done player {{ winner }}!! <br />
    You won!! 👊
  </h2>

  <button mat-raised-button color="accent" (click)="newGame()">
    New Game
  </button>
</div>
<button
  *ngIf="!winner"
  style="margin-bottom: 10px"
  mat-raised-button
  color="accent"
  (click)="newGame()"
>
  Restart Game
</button>
<main>
  <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)"
    [endGame]="winner"
  ></app-square>
</main>
